.experience-box {
  color: rgb(85, 85, 85);
  min-height: 40vh;
  overflow-y: auto;
  margin-top: 1vh;
  /* width:80% */
  padding-top: 35px;
  
}
.experience-company {
  font-size: 20px;
  padding-bottom: 5px;
  position: absolute;
  margin-left: 60px;
  word-wrap: break-word;
  width:auto;
  background: white;

}

.experience-tech {
  padding-bottom: 10px;

}

.experience-title {
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; */
  font-size: small;
  padding-bottom: 5px;
  /* margin-top: 60px; */


  /* font-style: italic; */
}

.experience-details {
  font-size: smaller;
  text-align: justify;
  /* height: 30vh; */
}

img {
  max-width: 100%;
  max-height: 100%;
}

.experience-logo {
  width: 60px;
  height: 60px;
  padding-right: 10px;
  position: absolute;
  background: white;
}

.company-info {
  display: flex;
  flex-direction: column;
  min-height:60px;
  width:90%;
  position: relative; 


}

.experience-seemore {
display: flex;
position: absolute;
padding-top: 2px;
padding-bottom: 2px;
flex-direction: row;
align-items: center;
left: 70%
}