
.experience-box{
  color: rgb(85, 85, 85);
  padding-top: 5px;
}
.experience-company {
  font-size: 20px;
  padding-bottom: 5px;
}

.experience-tech{
  padding-bottom: 10px;
}

.experience-title {
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; */
  font-size: 15px;
  padding-bottom: 5px;
  /* font-style: italic; */
}

.experience-details {
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; */
  font-size: 12px;
  padding-bottom: 5px;
  font-stretch: extra-condensed;
  text-align: justify
}

img{
  max-width: 100%;
  max-height: 100%;
}

.experience-logo{
  width:60px;
  height: 60px;
  padding-right: 10px;
}
.company-info{
  display:flex;
  flex-direction: row;
}