.highlight-info {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 10px;
  justify-content: center;
}

/* .skill-list{
 display: flex;
 flex-direction: column;
 flex-grow: inherit
} */

.skill-item {
  font-size: small;
  color: rgb(51, 49, 49);
  font-stretch: expanded;
  padding-bottom: 2px;
  word-wrap: normal;
  /* padding-left: 10px; */
}
