.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(20px + 2vmin); */
  /* color: white; */
  /* position: fixed; */


}

.App-header h1 {
  color: rgb(202, 202, 202);

}

/* .App-link {
  color: #61dafb;
} */

.profile {
  display: flex;
  flex-direction: column;
}


.skills {
  /* border: salmon 1px solid; */
  /* justify-items: right; */
  /* padding-top: 5px; */
  /* position: fixed; */
  /* overflow-y:auto; */
  /* overflow-x:hidden; */
  /* height: 80vh; */
  /* padding-bottom: 50px; */
  /* width: 90% */
}

.experience {
  /* border: salmon 1px solid; */
  justify-items: center;
}

.summary {
  color: rgb(85, 85, 85);
  padding-top: 5vh;
  padding-bottom: 10px;
  font-size: medium
 
}
