.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  width: 80%;
  padding-bottom: 20px;

}

.App-header h2 {
  padding-top: 10px;
  color: rgb(202, 202, 202);
  padding-bottom: 10px;

}

.App-link {
  color: #61dafb;
}

.profile {
  display: flex;
  flex-direction: row;
}

.skills {
  /* border: salmon 1px solid; */
  justify-items: center;
  padding-top: 5px;
  position: fixed;
  overflow-y:auto;
  /* overflow-x:hidden; */
  height: 80vh;
  padding-bottom: 50px;


  
}

.experience {
  /* border: salmon 1px solid; */
  justify-items: center;
}

.summary {
  color: rgb(85, 85, 85);
  padding-top: 20vh;
  padding-bottom: 10px;
 
}
