:root {
  --primaryColor: #135581b0;
  --bgColor: #0f7cc570;
}

.App-header {
  background-color: rgba(255, 255, 255, 0.9);
  height: 25vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(20px + 2vmin); */
  color: #0f0c0ce7;
  position: fixed;
  z-index: 2;
}

.App {
  margin: auto;
  /* width:80%; */
  /* background: var(--bgColor); */
}

.profile {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.experience {
  /* border: salmon 1px solid; */
  justify-items: center;
}

.summary {
  color: rgb(85, 85, 85);
  padding-top: 26vh;
  width: 80%;
  margin: auto;
  padding-bottom: 10px;
  font-size: medium;
}

.roles
{
display: flex;
flex-direction: row;
width: 80%;
justify-content: center;
/* flex: 0; */
flex-wrap: wrap

/* align-items: center; */
}

.roles-inner{
  padding-right: 10px;
}

.social{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}

.social-icon
{
  padding-left: 5px;
}